
#calculator {
    background-color: darkgray;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 600px;
    border-radius: 10px;
    border: 3px solid rgb(85, 85, 85);
  }

#screen {
    background-color: aliceblue;
    border-radius: 5px;
    border: 3px solid rgb(102, 102, 102);
    margin: 30px;
    width: 390px;
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    text-align: right;
    font-family: sans-serif;
}

#upperResult {
    margin: 20px;
}

#mainResult{
    font-size: 48px;
    margin: 15px;
}

#buttons{
    margin: 0px 30px 0px;
    width: 390px;
    height: 360px;
    display: grid;
    grid-template: 
    '. . . .'
    '. . . .'
    '. . . .'
    '. . . .'
    '. . . .';
}

.button {
    background-color:rgb(240, 240, 240);
    border-radius: 5px;
    border: 2px solid rgb(99, 99, 99);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

#clearButton{
    background-color: rgb(255, 119, 119);
    grid-column: span 2;
    border: 2px solid rgb(161, 61, 61);
}

#deleteButton{
    background-color: rgb(97, 110, 187);
    border: 2px solid rgb(62, 50, 165);
    grid-column: span 2;
}

#result{
    background-color: rgb(236, 170, 28);
    border: 2px solid rgb(170, 105, 20);
}